*{
    padding: 0px;
    margin: 0px;
}

body,html{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    background: rgb(123, 255, 255);
}

.bgmPlayer
{
    width: 50px;
    height: 50px;
    background-color: #aaa;
    position: fixed;
    opacity: 0.3;
    left: 0%;
}

.bgmPlayer:hover{
    width: 50px;
    height: 50px;
    background-color: #aaa;
    position: fixed;
    opacity: 1;
    left: 0%;
}

#bgmIcon{
    width: 100%;
    height: 100%;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 60%; 
    width: 100%;
    background-color: #000;
}

.bottom{
    display: flex;
    height: 40%;   
    width: 100%;
    background-color: #000;
    border-top: orange 10px solid;
}

#left{
    display: flex;
    width: 35%;
    height: 100%;

}

#right{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
    background: rgb(123, 255, 0);
}

#char{
    width: 50%;
    height: 100%;
}

#teacher{
    width: 100%;
    height: 100%;
}

.battery{
    margin: auto;
    margin-bottom: 0px;
    border: 10px solid white;
    width: 120px;
    height: 230px;
    animation: name 2s linear infinite;
}

.anode{
    height: 17px;
    width: 50px;
    background-color: yellow;
    position: relative;
    left: 30%;
    top: -11.9%;
    animation: name 2s linear infinite;
}

.charge4{
    margin: auto;
    height: 24%;
    width: 98%;
    background-color: black;
    position: relative;
    top: -4%;
    animation: name 2s linear infinite;
}

.charge3{
    margin: auto;
    height: 24%;
    width: 98%;
    background-color: black;
    position: relative;
    top: -5%;
    animation: name 2s linear infinite;
}

.charge2{
    margin: auto;
    height: 24%;
    width: 98%;
    background-color: black;
    position: relative;
    top: -6%;
    animation: name 2s linear infinite;
}

.charge1{
    margin: auto;
    height: 24%;
    width: 98%;
    background-color: black;
    position: relative;
    top: -7%;
    animation: name 2s linear infinite;
}

@keyframes ring{
    0%{
        background-color: white;
    }
    25%{
        background-color: wheat;
    }
    50%{
        background-color: orange;
    }
    75%{
        background-color: wheat;
    }
    100%{
        background-color:white;
    }
}

@keyframes battery_ring{
    0%{
        border: 10px solid white;
    }
    25%{
        border: 10.3px solid rgb(250, 96, 96);
    }
    50%{
        border: 10.6px solid red;
    }
    75%{
        border: 10.3px solid rgb(250, 96, 96);
    }
    100%{
        border: 10.6px solid white;
    }
}

@keyframes anode_ring{
    0%{
        background-color: yellow;
    }
    25%{
        background-color: yellowgreen;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: yellowgreen;
    }
    100%{
        background-color:yellow;
    }
}