@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

ul {
  margin-top: 1px;
  left: 22%;
  width:200px;    
  position: relative;
  display: flex;
  transform-style: preserve-3d;
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 100px;
}
ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  width: 150px;
  height: 10px;
  background: #3b00fc;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul li:after{
  content: '';
  position: absolute;
  left: -9px;
  width: 9px;
  height: 60px;
  background: #4324f1;
  transform-origin: right;
  transform: skewY(-49deg);
}
ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  display: flex !important;
  background: #5234fd;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
ul li:hover span {
  z-index: 1000;
  transition: .2s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}

ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}

ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}

ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}

ul li:nth-child(1):hover span{
  background: #52E19F !important;
}

ul li:nth-child(2):hover span{
  background: #EA6E96 !important;
}

ul li:nth-child(3):hover span{
  background: rgb(35, 92, 250) !important;
}
